---
version: 2.1
orbs:
  browser-tools: circleci/browser-tools@2.3.2
  node: circleci/node@7.2.1
executors:
  abid-executor:
    docker:
      - image: cimg/ruby:3.4.7-browsers
        environment:
          BUNDLER_VERSION: 2.3.11
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: abid
          RAILS_ENV: test
      - image: postgres:15
        environment:
          POSTGRES_USER: abid
          POSTGRES_DB: abid_test
          POSTGRES_HOST_AUTH_METHOD: trust
    working_directory: ~/abid

commands:
  setup-bundler:
    description: "Install correct version of bundler and load from cache or bundle install"
    steps:
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler

      # Which version of bundler?
      - run:
          name: Which bundler?
          command: bundle -v

      # Restore bundle cache
      - restore_cache:
          keys:
            - abid-bundle-v5-{{ checksum "Gemfile.lock" }}
            - abid-bundle-v5-

      - run:
          name: Bundle Install
          command: bundle check || bundle install

      # Store bundle cache
      - save_cache:
          key: abid-bundle-v5-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

jobs:
  build:

    executor: abid-executor
    steps:
      - attach_workspace:
          at: '~/abid'
      - checkout
      - setup-bundler

      # Only necessary if app uses webpacker or yarn in some other way
      - restore_cache:
          keys:
            - abid-yarn-v3-{{ checksum "yarn.lock" }}

      - node/install:
          node-version: '22.21.1'
          install-yarn: true
          yarn-version: '1.22.22'
      - run: node --version
      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      # Store yarn / webpacker cache
      - save_cache:
          key: abid-yarn-v3-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

      - persist_to_workspace:
          root: '~/abid'
          paths: '*'

  test:
    executor: abid-executor
    steps:
      - browser-tools/install_chrome
      - browser-tools/install_chromedriver
      - attach_workspace:
          at: '~/abid'
      - run: |
          google-chrome --version
      - setup-bundler
      - node/install:
          node-version: '22.21.1'
          install-yarn: true
          yarn-version: '1.22.22'
      - run: node --version
      - run:
          name: Yarn Install
          command: yarn install --cache-folder ~/.cache/yarn

      # ensure we have psql which we need for db:schema:load
      - run: wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
      - run: sudo apt update -y
      - run: sudo apt-get install -y postgresql-client || true

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Database setup
          command: |
            bin/rails db:create
            bin/rails db:schema:load

      # Run rspec
      - run:
          name: Run rspec
          command: bundle exec rspec spec/


      # Save test results for timing analysis
      - store_test_results:
          path: test_results

      - persist_to_workspace:
          root: '~/abid'
          paths: '*'

  rubocop:
    executor: abid-executor
    steps:
      - attach_workspace:
          at: '~/abid'
      - setup-bundler
      - run: bundle exec rubocop --disable-pending-cops

  coverage_report:
    executor: abid-executor
    steps:
      - attach_workspace:
          at: '~/abid'
      - run: gem install simplecov
      - run:
          name: Inspect coverage report
          command: |
            RAILS_ENV=test ruby ./scripts/report_coverage.rb
      - store_artifacts:
          path: ~/abid/coverage
          destination: coverage

workflows:
  build_accept:
    jobs:
      - build
      - rubocop:
         requires:
          - build
      - test:
         requires:
          - build
      - coverage_report:
         requires:
          - test
  nightly:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build
      - rubocop:
         requires:
          - build
      - test:
         requires:
          - build
      - coverage_report:
         requires:
          - test
