<div class="absolute-identifier-fields nested-fields">
  <div class="row mb-3">
    <div class="col-1">
    </div>
    <div class="col-10">
      <%= f.input :barcode, input_html: { class: 'barcode' } %>
    </div>
    <div class="col-1 h-100 align-self-center">
      <%= link_to_remove_association "Delete", f %>
    </div>
    <%= f.input :pool_identifier, as: :hidden, input_html: { value: "firestone" } %>
  </div>
</div>
