<div class="absolute-identifier-fields">
  <div class="row mb-3">
    <div class="col">
      <%= f.input :barcode %>
    </div>
    <div class="col">
      <%= f.input :prefix %>
    </div>
    <%= f.input :pool_identifier, as: :hidden, value: "firestone" %>
  </div>
</div>
