<div class="row">
  <div id="batch-create" class="bg-light col m-3 p-3">
    <%= render "form" %>
  </div>
</div>

<h2>Unsynchronized</h2>
<div id="unsynchronized-batches" class="bg-light col m-3 p-3">
  <%= render partial: "batch_table", locals: { batches: current_user&.unsynchronized_batches || [] } %>
</div>
<h2>Synchronized</h2>
<div id="synchronized-batches" class="bg-light col m-3 p-3">
  <%= render partial: "batch_table", locals: { batches: current_user&.synchronized_batches || [] } %>
</div>
